@import url('css/base.css');

body {

	background-color: black;
    color: white;
	width: 80%;
	max-width: 1000px;
	min-width: 500px;
	padding: 0 20px 20px 20px;
	margin: 20px auto;
	border: 0px dotted gray;
	box-shadow: 0 0 30px rgb(250, 247, 247);
}